<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="invenCalMapper">


	<select id="selectYearList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		WITH TEMP_MIN_MAX_YYYY AS (
		SELECT
			MIN(A.YEAR) AS MIN_YYYY,
			MAX(A.YEAR) AS MAX_YYYY
		FROM
			INV_ENG_GHG_MON A)
		SELECT
			MAX_YYYY-LEVEL + 1 AS YYYY
		FROM
			TEMP_MIN_MAX_YYYY
		CONNECT BY
			LEVEL &lt;= ((MAX_YYYY + 1)-MIN_YYYY)
		ORDER BY
			YYYY
	</select>
	
	<select id="invenCal001_search" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		WITH TEMP_INV_ENG_POINT AS (
		SELECT
			A.INV_ENG_POINT_ID,
			A.INV_ENG_POINT_NM_1,
			DECODE(A.INV_ENG_POINT_NM_2, NULL, A.INV_ENG_POINT_NM_1, A.INV_ENG_POINT_NM_2) AS INV_ENG_POINT_NM_2,
			DECODE(A.INV_ENG_POINT_NM_3, NULL, DECODE(A.INV_ENG_POINT_NM_2, NULL, A.INV_ENG_POINT_NM_1, A.INV_ENG_POINT_NM_2), A.INV_ENG_POINT_NM_3) AS INV_ENG_POINT_NM_3,
			DECODE(A.INV_ENG_POINT_NM_4, NULL, DECODE(A.INV_ENG_POINT_NM_3, NULL, DECODE(A.INV_ENG_POINT_NM_2, NULL, A.INV_ENG_POINT_NM_1, A.INV_ENG_POINT_NM_2), A.INV_ENG_POINT_NM_3), A.INV_ENG_POINT_NM_4) AS INV_ENG_POINT_NM_4
		FROM
			(
			SELECT
				A.INV_ENG_POINT_ID,
				TRIM(REGEXP_SUBSTR(REPLACE(SYS_CONNECT_BY_PATH(A.INV_ENG_POINT_NM, '|'), '|', '| '), '[^|]+', 1, 1, 'i')) AS INV_ENG_POINT_NM_1,
				TRIM(REGEXP_SUBSTR(REPLACE(SYS_CONNECT_BY_PATH(A.INV_ENG_POINT_NM, '|'), '|', '| '), '[^|]+', 1, 2, 'i')) AS INV_ENG_POINT_NM_2,
				TRIM(REGEXP_SUBSTR(REPLACE(SYS_CONNECT_BY_PATH(A.INV_ENG_POINT_NM, '|'), '|', '| '), '[^|]+', 1, 3, 'i')) AS INV_ENG_POINT_NM_3,
				TRIM(REGEXP_SUBSTR(REPLACE(SYS_CONNECT_BY_PATH(A.INV_ENG_POINT_NM, '|'), '|', '| '), '[^|]+', 1, 4, 'i')) AS INV_ENG_POINT_NM_4,
				ROWNUM AS N_ORDER
			FROM
				(
				SELECT
					A.*
				FROM
					INV_ENG_POINT A
				WHERE
					1 = 1
					AND A.INV_ENG_POINT_DIV = #{INV_ENG_POINT_DIV} /*검색구분(부문별, 직.간접별)*/
					AND A.C_DEL_YN = 'N') A
			WHERE
				1 = 1
				AND CONNECT_BY_ISLEAF = 1
			START WITH
				A.UP_INV_ENG_POINT_CD = '0'
			CONNECT BY
				PRIOR A.INV_ENG_POINT_CD = A.UP_INV_ENG_POINT_CD ORDER SIBLINGS BY A.N_ORDER) A),
		TEMP_INV_ENG_GHG_MON AS (
		SELECT
			A.INV_ENG_POINT_ID,
			<foreach collection="utilList" item="item" separator=",">
			MAX(DECODE(A.YEAR||A.MON, #{item}||'1', A.GHG_VAL, NULL)) AS GHG_VAL_${item}1,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'2', A.GHG_VAL, NULL)) AS GHG_VAL_${item}2,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'3', A.GHG_VAL, NULL)) AS GHG_VAL_${item}3,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'4', A.GHG_VAL, NULL)) AS GHG_VAL_${item}4,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'5', A.GHG_VAL, NULL)) AS GHG_VAL_${item}5,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'6', A.GHG_VAL, NULL)) AS GHG_VAL_${item}6,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'7', A.GHG_VAL, NULL)) AS GHG_VAL_${item}7,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'8', A.GHG_VAL, NULL)) AS GHG_VAL_${item}8,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'9', A.GHG_VAL, NULL)) AS GHG_VAL_${item}9,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'10', A.GHG_VAL, NULL)) AS GHG_VAL_${item}10,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'11', A.GHG_VAL, NULL)) AS GHG_VAL_${item}11,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'12', A.GHG_VAL, NULL)) AS GHG_VAL_${item}12
			</foreach>
		FROM
			INV_ENG_GHG_MON A
		WHERE
			A.YEAR IN (<foreach collection="utilList" item="item" separator=",">#{item}</foreach>)
			AND A.INV_ENG_POINT_ID IN (
			SELECT
				ZA.INV_ENG_POINT_ID
			FROM
				INV_ENG_POINT ZA
			WHERE
				1 = 1
				AND ZA.INV_ENG_POINT_DIV = #{INV_ENG_POINT_DIV} /*검색구분(부문별, 직.간접별)*/
				AND ZA.C_DEL_YN = 'N')
		GROUP BY
			A.INV_ENG_POINT_ID),
		TEMP_INV_ENG_GHG_MON_RATIO AS (
		SELECT
			A.INV_ENG_POINT_ID,
			<foreach collection="utilList" item="item" separator=",">
			MAX(DECODE(A.YEAR||A.MON, #{item}||'1', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}1,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'2', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}2,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'3', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}3,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'4', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}4,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'5', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}5,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'6', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}6,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'7', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}7,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'8', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}8,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'9', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}9,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'10', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}10,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'11', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}11,
			MAX(DECODE(A.YEAR||A.MON, #{item}||'12', A.GHG_VAL_RATIO, NULL)) AS GHG_VAL_RATIO_${item}12
			</foreach>
		FROM
			INV_ENG_GHG_MON A
		WHERE
			A.YEAR IN (<foreach collection="utilList" item="item" separator=",">#{item}</foreach>)
			AND A.INV_ENG_POINT_ID IN (
			SELECT
				ZA.INV_ENG_POINT_ID
			FROM
				INV_ENG_POINT ZA
			WHERE
				1 = 1
				AND ZA.INV_ENG_POINT_DIV = #{INV_ENG_POINT_DIV} /*검색구분(부문별, 직.간접별)*/
				AND ZA.C_DEL_YN = 'N')
		GROUP BY
			A.INV_ENG_POINT_ID),
		TEMP_INV_ENG_GHG_YEAR AS (
		SELECT
		   A.INV_ENG_POINT_ID,
		   NVL(A.GHG_VAL, NULL) AS GHG_VAL_YEAR,
		   A.FIX_YN
		FROM
		   INV_ENG_GHG_YEAR A
		WHERE
		   A.YEAR IN (<foreach collection="utilList" item="item" separator=",">#{item}</foreach>))
		SELECT
			A.INV_ENG_POINT_NM_1,
			A.INV_ENG_POINT_NM_2,
			A.INV_ENG_POINT_NM_3,
			A.INV_ENG_POINT_NM_4,
			<foreach collection="utilList" item="item">
			ROUND(NVL(B.GHG_VAL_${item}1, 0), 0) AS GHG_VAL_${item}1,
			ROUND(NVL(B.GHG_VAL_${item}2, 0), 0) AS GHG_VAL_${item}2,
			ROUND(NVL(B.GHG_VAL_${item}3, 0), 0) AS GHG_VAL_${item}3,
			ROUND(NVL(B.GHG_VAL_${item}4, 0), 0) AS GHG_VAL_${item}4,
			ROUND(NVL(B.GHG_VAL_${item}5, 0), 0) AS GHG_VAL_${item}5,
			ROUND(NVL(B.GHG_VAL_${item}6, 0), 0) AS GHG_VAL_${item}6,
			ROUND(NVL(B.GHG_VAL_${item}7, 0), 0) AS GHG_VAL_${item}7,
			ROUND(NVL(B.GHG_VAL_${item}8, 0), 0) AS GHG_VAL_${item}8,
			ROUND(NVL(B.GHG_VAL_${item}9, 0), 0) AS GHG_VAL_${item}9,
			ROUND(NVL(B.GHG_VAL_${item}10, 0), 0) AS GHG_VAL_${item}10,
			ROUND(NVL(B.GHG_VAL_${item}11, 0), 0) AS GHG_VAL_${item}11,
			ROUND(NVL(B.GHG_VAL_${item}12, 0), 0) AS GHG_VAL_${item}12,
			ROUND(NVL(B.GHG_VAL_${item}1, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}2, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}3, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}4, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}5, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}6, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}7, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}8, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}9, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}10, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}11, 0), 0) + ROUND(NVL(B.GHG_VAL_${item}12, 0), 0) AS TOT_GHG_VAL_${item},
			</foreach>
			ROUND(NVL(D.GHG_VAL_YEAR, 0), 0) AS GHG_VAL_YEAR,
			D.FIX_YN
		FROM
			TEMP_INV_ENG_POINT A,
			TEMP_INV_ENG_GHG_MON B,
			TEMP_INV_ENG_GHG_MON_RATIO C,
			TEMP_INV_ENG_GHG_YEAR D
		WHERE
			A.INV_ENG_POINT_ID = B.INV_ENG_POINT_ID(+)
			AND A.INV_ENG_POINT_ID = C.INV_ENG_POINT_ID(+)
			AND A.INV_ENG_POINT_ID = D.INV_ENG_POINT_ID(+)
	</select>
	
	<select id="invenCal003_search" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		WITH TEMP_INV_ENG_POINT AS (
				SELECT
				   A.INV_ENG_POINT_ID,
				   A.INV_ENG_POINT_NM_1,
				   DECODE(A.INV_ENG_POINT_NM_2,
				   NULL,
				   A.INV_ENG_POINT_NM_1,
				   A.INV_ENG_POINT_NM_2) AS INV_ENG_POINT_NM_2,
				   DECODE(A.INV_ENG_POINT_NM_3,
				   NULL,
				   DECODE(A.INV_ENG_POINT_NM_2,
				   NULL,
				   A.INV_ENG_POINT_NM_1,
				   A.INV_ENG_POINT_NM_2),
				   A.INV_ENG_POINT_NM_3) AS INV_ENG_POINT_NM_3,
				   DECODE(A.INV_ENG_POINT_NM_4,
				   NULL,
				   DECODE(A.INV_ENG_POINT_NM_3,
				   NULL,
				   DECODE(A.INV_ENG_POINT_NM_2,
				   NULL,
				   A.INV_ENG_POINT_NM_1,
				   A.INV_ENG_POINT_NM_2),
				   A.INV_ENG_POINT_NM_3),
				   A.INV_ENG_POINT_NM_4) AS INV_ENG_POINT_NM_4
				FROM
				   (
				   SELECT
				      A.INV_ENG_POINT_ID,
				      TRIM(REGEXP_SUBSTR(REPLACE(SYS_CONNECT_BY_PATH(A.INV_ENG_POINT_NM, '|'), '|', '| '), '[^|]+', 1, 1, 'i')) AS INV_ENG_POINT_NM_1,
				      TRIM(REGEXP_SUBSTR(REPLACE(SYS_CONNECT_BY_PATH(A.INV_ENG_POINT_NM, '|'), '|', '| '), '[^|]+', 1, 2, 'i')) AS INV_ENG_POINT_NM_2,
				      TRIM(REGEXP_SUBSTR(REPLACE(SYS_CONNECT_BY_PATH(A.INV_ENG_POINT_NM, '|'), '|', '| '), '[^|]+', 1, 3, 'i')) AS INV_ENG_POINT_NM_3,
				      TRIM(REGEXP_SUBSTR(REPLACE(SYS_CONNECT_BY_PATH(A.INV_ENG_POINT_NM, '|'), '|', '| '), '[^|]+', 1, 4, 'i')) AS INV_ENG_POINT_NM_4,
				      ROWNUM AS N_ORDER
				   FROM
				      (
				      SELECT
				         A.*
				      FROM
				         INV_ENG_POINT A
				      WHERE
				         1 = 1
				         AND A.INV_ENG_POINT_DIV = '1' /*검색구분(부문별, 직.간접별)*/
				         AND A.C_DEL_YN = 'N') A
				   WHERE
				      1 = 1
				      AND CONNECT_BY_ISLEAF = 1
				   START WITH
				      A.UP_INV_ENG_POINT_CD = '0'
				   CONNECT BY
				      PRIOR A.INV_ENG_POINT_CD = A.UP_INV_ENG_POINT_CD ORDER SIBLINGS BY A.N_ORDER) A)
				SELECT
					CASE WHEN A.INV_ENG_POINT_NM_1 = '에너지' AND  INV_ENG_POINT_NM_2 = '계' THEN 'ENG_TOT'
				        WHEN A.INV_ENG_POINT_NM_1 = '폐기물' THEN 'WASTE'
				        WHEN A.INV_ENG_POINT_NM_1 = '산업공정 및 제품생산' THEN 'I_TOT'
				        WHEN A.INV_ENG_POINT_NM_1 = '농업, 산림 및 기타 토지이용' THEN 'F_TOT'
				   END ENG_CODE, 
				   A.INV_ENG_POINT_NM_1,
				   A.INV_ENG_POINT_NM_2,
				   A.INV_ENG_POINT_NM_3,
				   A.INV_ENG_POINT_NM_4,
				   NVL(B.YEAR_VAL_RATIO, 0) AS YEAR_VAL_RATIO/*3년평균비중*/,
				   NVL(B.GHG_VAL, 0) AS GHG_VAL/*배출량합계*/
				FROM
				   TEMP_INV_ENG_POINT A,
				   INV_ENG_GHG_YEAR B
				WHERE
				   A.INV_ENG_POINT_ID = B.INV_ENG_POINT_ID
				   AND B.YEAR = #{year}
	</select>
	

</mapper>